<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <style>

    .div-child{
      display: flex;
      justify-content: center;
      
    }

    .div-child form{
      width: 50%;
      margin: 80px;
    }

    .container h2{
      margin: 20px 5%;
    }

    .container label{
      display: block;
      margin: 0 5%;
      font-weight: bold;
      font-size: 18px;
    }

    .container input{
      width: 90%;
      height: 40px;
      margin: 0 5% 20px 5%;
      padding-left: 10px;
      font-size: 18px;
      background-color: #F2F1F2;
      border: none;
    }

    hr{
      margin-bottom: 20px;
      color: #F2F1F2;
      width: 90%;
    }

    .clearfix{
      margin: 0 5%;
    }

    .clearfix button{
      background-color: #3BB07E;
      color: #FFF;
      width: 40%;
      padding: 15px;
      margin-bottom: 30px;
      border: none;
      cursor: pointer;
    }

  </style>
</head>
<body>
  <div>
    <div class="div-child">
      <form method="POST" action="/user/register" enctype="multipart/form-data" style="border: 1px solid  #CCC;">

        <div class="container">
          <h2>Registro de usuário</h2>
          <hr>

          <label for="name">Nome completo</label>
          <input type="text" name="name" id="name">

          <label for="email">Email</label>
          <input type="email" name="email" id="email">

          <label for="password">Senha</label>
          <input type="password" name="password" id="password">

          <!-- <label for="confirm-password">Confirme a senha</label>
          <input type="password" name="confirm-password" id="confirm-password"> -->

          <div class="clearfix">
            <button type="submit" class="signupbtn" style="font-size: 26px;"><b>Register</b></button>
          </div>

        </div>

      </form>
    </div>
  </div>
  
</body>
</html>